.close-menu {
  display: none;
}

#burger-menu-icon.hidden .burger-menu {
  display: none;
}

#burger-menu-icon.hidden .close-menu {
  display: block;
}

/* Fonts */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.bingo-title{
	font-family: 'Bingo Dilan', sans-serif;
}

.bingo-numbers{
	font-family: 'Oswald', sans-serif;
}